/*-- scss:defaults --*/

$jet: #131516;
$accent: #107895;
$accent2: #9a2515;
$font-family-sans-serif: "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$presentation-heading-font: "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$presentation-heading-color: $jet !default;
$presentation-heading-font-weight: lighter;
$presentation-font-size-root: 32px;
$body-color: $jet !default;
$link-color: $accent !default;
$selection-bg: #26351c !default;

/*-- scss:rules --*/

@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,400&display=swap");

.reveal p,
.reveal ul,
.reveal ol {
  font-weight: lighter;
}

#title-slide {
  text-align: left;
}

#title-slide .title {
  color: $body-color;
  font-size: 1.4em;
  font-weight: lighter;
}

#title-slide .subtitle {
  color: $accent;
  font-style: italic;
  margin-top: 0;
  font-weight: lighter;
}

#title-slide .author,
#title-slide .quarto-title-author-name {
  color: $body-color;
}

.reveal h2 {
  font-weight: lighter;
  font-size: 1.4em;
  margin-bottom: 0;
}

.reveal h3 {
  color: $accent;
  font-style: italic;
  font-weight: lighter;
  font-size: 0.95em;
  margin-top: 1.25em;
  margin-bottom: 0;
}

.reveal h4 {
  color: $accent2;
  font-weight: normal;
  margin-top: 1.25em;
  margin-bottom: 0;
}

.reveal ul,
.reveal ol {
  padding-left: 16px;
}

.reveal ul li::marker {
  color: mix($accent, white, 70%);
}

.reveal ol li::marker {
  color: $accent;
}

.reveal .slide-menu-button {
  position: fixed;
  top: 6px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.reveal .slide-menu-button > * {
  pointer-events: auto;
}

.slide-number,
.reveal.has-logo .slide-number {
  bottom: 6px !important;
  right: 10px !important;
  top: unset !important;
  color: #777777 !important;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.8em;
}

.reveal table th,
.reveal table td {
  border: none;
  padding: 0.23em;
  text-align: left;
  font-weight: lighter;
}

.reveal table thead th,
.reveal .slides table tr:last-child td,
.reveal .slides table {
  border-bottom: 2px solid #d3d3d3;
}

.reveal table thead th {
  font-weight: bold;
}
